<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum Info - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Forum Info</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="{% url 'view' %}">Data</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

        {% if latest_ticket_list %}
            <p><a href="{% url 'ticket' %}" class="btn btn-lg btn-primary">Create a new Ticket</a></p>
            {% for ticket in latest_ticket_list %}

                <div class="panel panel-default">
                    <div class="panel-heading"><h4>{{ ticket.ticket_title }}</h4></div>
                    <div class="panel-body">
                        <p>{{ ticket.ticket_content | slice:"0:200" }} ...</p>
                        <p><a href="{% url 'detail' ticket.id %}">More detail</a></p>
                    </div>
                </div>

            {% endfor %}

        {% else %}
            <div class="alert alert-danger">
              <strong>No Ticket created!</strong> Click <a href="{% url 'ticket' %}">here</a> in order to create Ticket
            </div>
        {% endif %}

    </div>

</body>
</html>