/* ******************************* */
/* **                           ** */
/* **            NAV            ** */
/* **                           ** */
/* ******************************* */

nav {
    background: #369 !important;
}

nav li.active a {
    background: #036 !important;
}

nav a {
    letter-spacing: 2px;
    color: #FFF !important;
}


/* ******************************* */
/* **                           ** */
/* **           TITLE           ** */
/* **                           ** */
/* ******************************* */

h1 {
    margin-bottom: 50px;
}